{% extends 'base.html' %}

{% block content %}

  <div style="width:80%; text-align:center; margin:auto;">
    <p><h1>Completed Tasks</h1></p>
    {% if data %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data %}
          <tr>
            <td>{{ i.taskTitel }}</td>
            <td>{{ i.taskDescription }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h3>No task completed yet</h3>
    {% endif %}
  </div>

{% endblock %}
